:root {
    --header: #2c3e50;
    --biela: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;    /* Dedí sa na všetky elementy */
    font-size: 16px;                   /* Dedí sa */
    line-height: 1.6;                  /* Dedí sa */
    color: #333;                       /* Dedí sa */
    background-color: #f4f4f4;         /* Nededí sa */
    margin: 0;                         /* Nededí sa */
    padding: 20px;                     /* Nededí sa */
}

header{
    text-align: center;
    background-color: var(--header);
    color: var(--biela);
    padding: 20px;
    margin-bottom: 40px;
    border: 2px solid purple;
}

.ukazka-zabalenie{
    background-color: var(--biela);
}
