




h2{
    color:tomato;
    background-color: whitesmoke;
    border-radius: 5px;

}

.vyrazny{
    color:aliceblue;
    background-color: gray;
    padding: 15px;
    border-radius: 5px;
    border-left: 4px solid blue;
    font-weight: bold;
}

h1{
    background-color: tomato;
}

#hlavny-box{
    background-color: tomato;
    color:aliceblue;
}

body{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;


}

section{
    border-left: 5px solid lightcoral;
    background-color:white;
    border-radius: 8px;
    padding: 14px;
    margin-bottom: 14px;
}

article{
    background-color: #fff;
    padding: 14px;
    border-radius: 4px;
    margin-bottom: 14px;

}

h3{
    color:rgb(255, 255, 255);
    background-color:rgb(185, 129, 44);
}