:root {
    --header: #112d4dc0;
    --biela:#fff ;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h2{
    border-bottom: 4px solid lightblue;
}

header{
    text-align: center;
    background-color: var(--header);
    color: var(--biela);
    padding: 20px;
    margin-bottom: 40px;
    border: 2px solid rgb(0, 221, 118);
}

.ukazka-zabalenie{
    background-color: var(--biela);
}

.Box1{
    padding: 20px;
    border: 5px solid;
    margin: 30px;
}

.Box2{
    padding: 40px;
    border: 3px dotted;
    margin: 20px;
}

.Box3{
    border-bottom:double thick red;
    border-left:dotted green;
    border-right:dashed blue;
    border-top:thick solid yellow;
    padding: 10px 20px 30px 40px;
    margin: 10px 20px 30px 40px;
}

.kontajner-inline{
    border: 1px var(--header) dashed;
    padding: 14px;
}


.box-inline{
    display: inline;
    padding: 14px;
    border-radius: 4px;
    background-color: tomato;
    margin: 4px;
}

.box-blokovy{
    padding: 14px;
    border-radius: 4px;
    display: block;
    background-color: aqua;
    margin: 4px;
}

.ukazka-dedicnosti{
    margin-top: 40px;
    padding: 14px;
    border-radius: 4px;
    background-color: var(--biela);
}

.box-rodic{
    background-color: lightgray;
    font-weight: bold;
    font-size: 14px;

    padding: 20px;
    border: 2px solid tomato;
}

.box-potomok{
border: 2px dashed pink;
padding: 2px;
}